@media (max-width: 640px) {
  .container-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 12px 0px;
  }
}
.container-card-main {
  padding: 4px;
}
[class*='card-image-container'] {
  position: relative;
}
